

<h1 class="mat-title">Northpower Workbench Style Guide</h1>

<h1 class="mat-display-4">Mat display-4</h1>
<h1 class="mat-display-3">Mat display-3</h1>
<h1 class="mat-display-2">Mat display-2</h1>
<h1 class="mat-display-1">Mat display-1</h1>

<h1 class="mat-headline">Mat Headline h1</h1>
<h1 class="mat-title">Mat Title h1</h1>

<h2 class="mat-subheading-2">Mat subheading-2</h2>
<h2 class="mat-subheading-1">Mat subheading-1</h2>

<p class="mat-body-2">Mat body-2</p>
<p class="mat-body-1">Mat body-1</p>

<span class="mat-caption">mat-caption</span>
<span class="mat-button">mat-button</span>
<span class="mat-input">mat-input</span>

<hr>

<p class="color-primary">Here is a paragraph (color-primary)</p>
<p class="color-accent">Here is a paragraph (color-accent)</p>
<p class="color-warn">Here is a paragraph (color-warn)</p>
<p class="color-danger">Here is a paragraph (color-danger)</p>

<hr>

<p class="background-primary">Here is a paragraph (background-primary)</p>
<p class="background-accent">Here is a paragraph (background-accent)</p>
<p class="background-warn">Here is a paragraph (background-warn)</p>
<p class="background-danger">Here is a paragraph (background-danger)</p>

<hr>

<p class="northpower-warn">Here is a paragraph (northpower-warn)</p>
<p class="northpower-danger">Here is a paragraph (northpower-danger)</p>

<hr>
