.status-container {
    display: flex;
    align-items: center; 
    align-content: center;
}

mat-row:hover {
    background-color:#EEEEEE;
}

.selected {
    background:#EEEEEE;
}

.mat-column-Description {
    flex: 0 0 500px;
}

.mat-column-Visits {
    flex: 0 0 20px;
}
